<div id="custom_bottom">
    <div class="container">
        <h3>{{ settings.custom_bottom_text1 }}</h3>
        <h4>{{ settings.custom_bottom_text2 }}</h4>
        <a href="{{ settings.custom_bottom_link }}" class="btn">{{ settings.custom_bottom_button_text }}</a>
    </div>
</div>